

/* CSS Document */
button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  transition-duration: 0.4s;
  box-shadow: 0 9px 5px rgba(0,0,0,0.2);
  /* -webkit-transition-duration: 0.4s; Safari */
  /* -moz-transition-duration: 0.4s; Firefox */
  /* -o-transition-duration: 0.4s; Opera */
  /* -ms-transition-duration: 0.4s; IE */

}

body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  color: #333;
}
h1 {
  color: #4CAF50;
  text-align: center;
}
h2 {
  color: #555;
  text-align: center;
}
h3 {
  color: rgb(9, 45, 102);
  text-align: center;
}


#myButton {
  display: block;
  margin: auto;
}
button:hover {
  background-color: #45a049; /* Darker green */
  box-shadow: 0 5px 5px rgba(0,0,0,0.2);
}
button:active {
  background-color: #3e8e41; /* Darker green */
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  transform: translateY(4px);
}

#myDiv1 {
  /* margin-top: 90px; */
  line-height: 15.5em;
}

#myDiv3 {
  line-height: 20.0em;
}